<div class="login-card">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email" formControlName="email" required>
    </div>
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" formControlName="senha" required>
    </div>
    <div>
      <button [disabled]="loginForm.invalid" class="login-button">Fazer Login</button>
    </div>
    <div>
      <a routerLink="/cadastro" class="link-cadastrar">Clique aqui para criar uma conta</a>
    </div>
  </form>
</div>