<div class="login-card">
  <h2>Cadastrar</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" formControlName="nome" required>
    </div>
    <div>
      <label for="documento">Documento:</label>
      <input type="text" id="documento" name="documento" formControlName="documento" required>
    </div>
    <div>
      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" name="telefone" formControlName="telefone" required>
    </div>
    <div>
      <label for="endereço">Endereço:</label>
      <input type="text" id="endereço" name="endereço" formControlName="endereço" required>
    </div>
    <div>
      <label for="usuário">Qual o Usuário:</label>
      <select id="usuário" name="usuário" formControlName="usuário" required>
        <option *ngFor="let user of users" [value]="user.id">{{ user.nome }}</option>
      </select>
    </div>
    <div>
      <button class="login-button">Criar Conta</button>
    </div>

  </form>
  <div>
    <button (click)="BackToMain()" class="link-cadastrar">Cancelar</button>
  </div>
</div>